[Desktop Entry]
Encoding=UTF-8
Exec=/home/wls/Programs/Ultimaker_Cura-4.7.1.AppImage
Name=Cura
GenericName=Cura
Type=Application
Terminal=false
StartupNotify=false
