[Desktop Entry]
Encoding=UTF-8
Exec=/home/wls/Programs/FreeCad.AppImage
Name=FreeCad
GenericName=FreeCad
Type=Application
Terminal=false
StartupNotify=false
